<nav>
    <p class="title">ArtiZen</p>
    <div class="navigation">

        <u1>
            <i  id="menu-close" class="fas fa-times"></i>
            <li> <a href="/">Home</a></li>
            <li><a href="#all-blogs">All Blogs</a></li>
            <li><a href="/blogs/createblog">New Blog</a></li>
        </u1>
    </div>
</nav>



<section id="home">

    <h2>Welcome to ArtiZen Blog</h2>
    <p>Where passionate Writers Connect,Stories Unfold,and ideas Inspire.Explore a world of creativity and inspiration through our collection of blogs. Whether you're looking for art, culture, or personal reflections, ArtiZen brings you stories that resonate.</p>
    <div class="btn">
        <a class="blue" href="#all-blogs">Read Blogs</a>
        <a class="yellow" href="/blogs/createblog">Create Blogs</a>
    </div>

</section>