<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

   


   <div  class="errbg">

        <div class="errmsg">
            <h1 class="four">Error 404!</h1>
            <h2>We couldn't find what you were looking for.</h2>
        </div>


    </div>

    

</body>
</html>